body {
  font-family: constantia;
  background-image: url("../../texture/t1.jpg");
  background-repeat: repeat;
}

#head {
  width: 100%;
  height: 500px;
  font-size: xx-large;
}

.floating-menu {
  position: fixed;
  right: 0;
  margin-top: 320px;
  border: solid 0px grey;
  padding: 10px;
  color: #c8c8c8;
  background-color: #191919;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.floating-menu:hover {
  padding-right: 20px;
  background-color: #0f0f0f;
  color: #fafafa;
}

.banner {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.banner-text {
  margin-top: -10px;
  margin-bottom: -5px;
}

.banner-img {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: 7px 8px 9px grey;
          box-shadow: 7px 8px 9px grey;
}

.head-aside {
  position: absolute;
  right: 0;
  font-size: smaller;
}

.head-aside span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  vertical-align: middle;
}

.head-aside span:hover {
  color: goldenrod;
}

.head-aside button {
  display: none;
  margin-left: 20px;
  padding: 10px;
  font-size: large;
  border-radius: 20px;
  background-color: goldenrod;
  border: 0;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
}

.head-aside button:hover {
  background-color: white;
}

.head-information {
  position: absolute;
  color: #fbfbfb;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.links {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 115px;
}

.link {
  font-weight: lighter;
  font-style: italic;
  text-decoration: none;
  color: #fbfbfb;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: goldenrod;
}

.search-bar {
  width: 50%;
  margin: auto;
  border: solid 1px grey;
  background-color: rgba(250, 250, 250, 0.8);
  margin-bottom: 20px;
  height: 50px;
  padding: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.search-bar input[type="text"] {
  width: 95%;
  height: 100%;
  float: left;
  background: transparent;
  border: 0;
  color: black;
  font-size: large;
  letter-spacing: 2px;
  text-indent: 15px;
  outline: none;
}

.search-bar span {
  font-size: xx-large;
  color: #423939;
  margin-top: 3px;
}

.search-bar:focus-within {
  background-color: rgba(250, 250, 250, 0.9);
}

@media only screen and (max-width: 1200px) {
  #head {
    font-size: small;
    height: 300px;
  }
  .banner-img {
    height: 300px;
  }
  .head-aside button {
    font-size: small;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 5px;
    padding: 7px;
  }
  .links {
    width: 100%;
    margin-bottom: 30px;
  }
  .link {
    font-style: normal;
    font-size: large;
    font-weight: bold;
  }
  .search-bar {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .search-bar input[type="text"] {
    width: 100%;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: small;
    text-indent: 15px;
  }
  .search-bar span {
    display: none;
  }
  .banner-text {
    font-size: x-large;
  }
}

@media only screen and (max-width: 600px) {
  #head {
    font-size: smaller;
    height: 300px;
  }
  .banner-img {
    height: 300px;
  }
  .head-aside span {
    display: none;
  }
  .head-aside button {
    font-size: small;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 5px;
    padding: 7px;
  }
  .links {
    width: 100%;
    margin-bottom: 30px;
  }
  .link {
    font-style: normal;
    font-size: large;
    font-weight: bold;
  }
  .search-bar {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .search-bar input[type="text"] {
    width: 100%;
    letter-spacing: 1px;
    font-size: small;
    text-indent: 5px;
  }
  .search-bar span {
    display: none;
  }
  .banner-text {
    font-size: x-large;
  }
}
/*# sourceMappingURL=HeadStyles.css.map */