@import '../_GlobalVariable.scss';

body{
    font-family:$font-family;
    background-image:url('../../texture/t1.jpg');
    background-repeat: repeat; 
}

#head{
    width:100%;
    height:$banner-height;
    font-size:xx-large;
}

.floating-menu{
    position:fixed;
    right:0;
    margin-top:320px;
    border:solid 0px grey;
    padding:10px;
    color:rgb(200,200,200);
    background-color: rgb(25,25,25);
    cursor:pointer;
    transition:all 0.2s ease-in-out;

    &:hover{
        padding-right:20px;
        background-color: rgb(15,15,15);
        color:rgb(250,250,250);
    }
}

.banner{
    width:100%;
    height:fit-content;
    

    &-img{
        width:100%;
        height:$banner-height;
        box-shadow:7px 8px 9px grey;

    }
}
.head-aside{
    position: absolute;
    right:0;
    font-size:smaller;
    

    span{
        transition:all 0.2s ease-in-out;
        cursor:pointer;
        vertical-align: middle;
    }
    span:hover{
        color:$secondary-color;
    }
    button{
        display:none;
        margin-left:20px;
        padding:10px;
        font-size:large;
        border-radius:20px;
        background-color: $secondary-color;
        border:0;
        margin-right:15px;
        cursor: pointer;
        transition:all 0.2s ease-in-out;
        letter-spacing:2px;
    }
    button:hover{
        background-color: white;
    }
}

.head-information{
    position:absolute;
    color:$head-text-color;
    width:100%;
    margin:auto;
    text-align: center;
    padding-top:20px;
}

.links{
    width:50%;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom:115px;
}
.link{
    font-weight: lighter;
    font-style: italic;
    text-decoration: none;
    color:$head-text-color;
    text-decoration: underline;
    transition:all 0.2s ease-in-out;
}
.link:hover{
    color:$secondary-color;
}
.search-bar{
    width:50%;
    margin:auto;
    border:solid 1px grey;
    background-color:rgba(250,250,250,0.8);
    margin-bottom:30px;
    height:50px;
    padding:3px;
    transition:all 0.5s ease-in-out;

    input[type="text"]{
        width:95%;
        height:100%;
        float:left;
        background:transparent;
        border:0;
        color:black;
        font-size:large;
        letter-spacing: 2px;
        text-indent: 15px;
        outline:none;
    }

    span{
        // float:right;
        font-size:xx-large;
        color:rgb(66, 57, 57);
        margin-top:3px;
    }
}
.search-bar:focus-within{
    background-color:rgba(250,250,250,0.9);

}

//Responsive design for medium screen devices with width > 600px but < 1000px
@media only screen and (max-width:"1200px"){

    #head{
        font-size:small;
        height:$banner-small-height;
    }

    .banner{
    
        &-img{
            height:$banner-small-height;    
        }
    }
    
    .head-aside{
        
        span{
            // display:none;
        }

        button{
            font-size:small;
            font-weight:bold;
            margin-top:-10px;
            margin-right:5px;
            padding:7px;
        }
    }
    
    .links{
        width:100%;
        margin-bottom:30px;
    }
    .link{
        font-style: normal;
        font-size:large;
        font-weight:bold;
    }

    .search-bar{
        width:70%;
        margin:auto;
        margin-bottom:30px;
        border-radius: 20px;
        input[type="text"]{
            width:100%;
            letter-spacing: 1px;
            font-size: small;
            text-indent: 15px;
        }
    
        span{
            display: none;
        }
    }
    .banner-text{
        font-size:x-large;
    }

}

 //Responsive deisgn for small mobile screen with width < 600px
@media only screen and (max-width:"600px"){

    #head{
        font-size:smaller;
        height:$banner-small-height;
    }

    .banner{
    
        &-img{
            height:$banner-small-height;    
        }
    }
    
    .head-aside{
        
        span{
            display:none;
        }

        button{
            font-size:small;
            font-weight:bold;
            margin-top:-10px;
            margin-right:5px;
            padding:7px;
        }
    }
    
    .links{
        width:100%;
        margin-bottom:30px;
    }
    .link{
        font-style: normal;
        font-size:large;
        font-weight:bold;
    }

    .search-bar{
        width:90%;
        margin:auto;
        margin-bottom:30px;
        border-radius: 20px;
        input[type="text"]{
            width:100%;
            letter-spacing: 1px;
            font-size: small;
            text-indent: 5px;
        }
    
        span{
            display: none;
        }
    }
    .banner-text{
        font-size:x-large;
    }
       
}